
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Transportes RALV</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="../../favicon.ico">
        <link rel="stylesheet" href="../../css/bootstrap.css">
        <link rel="stylesheet" href="../../css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->
        <link rel="stylesheet" href="../../fonts/icon-font.css">
        <!-- end -->
        <link rel="stylesheet" href="../../css/style.css">
    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-11 -->
            <header class="header-11">
                <div class="container">
                    <div class="row">
                        <div class="navbar col-sm-12" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle"></button>
                                <a class="brand" href="#"><img src="../../img/logo@2x.png" width="50" height="50" alt=""> Transportes RALV</a>
                            </div>
                            <div class="collapse navbar-collapse pull-right">
                                <ul class="nav pull-left">
                                    <li class="active"><a href="#">INICIO</a></li>
                                    <li><a href="#">EMPRESA</a></li>
                                    <li><a href="#">HISTORIAL</a></li>
                                    <li><a href="#">CONVERTIDOR</a></li>
                                    <li><a href="#">CONTACTO</a></li>
                                </ul>
                                <form class="navbar-form pull-left">
                                    <a class="btn btn-primary" href="#">LOGIN</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
           <!--{#  {{ block content }} #}-->
            <section class="header-11-sub bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4" style="color:white">
                            <h3>Interesado en una Ruta?</h3>
                            <p>
                                Envianos un correo indicando en que ruta estas interesado, la incluiremos en nuestras lista para analisar su fatibilidad.
                            </p>
                            <div class="signup-form">
                                <form>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Ingres tu e-mail">
                                    </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Describe tu interes">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Direccion de la Ruta">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-info">Enviar</button>
                                    </div>
                                </form>
                            </div>
                            <!--<div class="additional-links">
                                By signing up you agree to <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>
                            </div>-->
                        </div>
                        <div class="col-sm-7 col-sm-offset-1 player-wrapper">
                            <div class="player">
                                <h1>Mapa de Rutas en Google Maps</h1>
                               <!-- <iframe src="/video-presentacion" webkitallowfullscreen mozallowfullscreen allowfullscreen><h1>Video Presentacion</h1></iframe>
                                <!--<iframe src="http://www.youtube.com/embed/BCC7rFxo6QA" allowfullscreen></iframe>-->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- logos -->
            <section class="logos">
                <div class="container" id="logos">
                    <div><img src="../../img/logos/audi-logo.png" width="65" height="65" alt="">
                    </div>
                    <div><img src="../../img/logos/w.png" width="65" height="65" alt="">
                    </div>
                    <div><img src="../../img/logos/FORD.png" width="65" height="65" alt="">
                    </div>
                    <div><img src="../../img/logos/bmw-logo.png" width="65" height="65" alt="">
                    </div>
                    <div><img src="../../img/logos/ch.png" width="65" height="65" alt="">
                    </div>
                </div>
            </section>

            <!-- price-1 -->
            <section class="price-1">
                <div class="container">
                    <h3>Nuestras Rutas</h3>
                    <p class="lead">
                        Estas son las rutas que actualmente trabajamos
                    </p>
                    <div class="row plans">
                        <div class="col-sm-4">
                            <div class="plan">
                                <div class="title">Ruta al Atlantico</div>
                                <div class="price">45 KMs</div>
                                <div class="description">
                                    10,000 messages<br>
                                    <b>unlimited</b> data<br>
                                    <b>unlimited</b> users<br>
                                    first 10 day free
                                </div>
                                <a class="btn btn-primary" href="#">Ver mas</a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="plan">
                                <div class="title">Professional</div>
                                <div class="price">39$/month</div>
                                <div class="description">
                                    10,000 messages<br>
                                    <b>unlimited</b> data<br>
                                    <b>unlimited</b> users<br>
                                    first 30 day free
                                </div>
                                <a class="btn btn-primary" href="#">Change to this Plan</a>

                                <div class="ribbon">NUEVO</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="plan">
                                <div class="title">Business</div>
                                <div class="price">59$/month</div>
                                <div class="description">
                                    10,000 messages<br>
                                    <b>unlimited</b> data<br>
                                    <b>unlimited</b> users<br>
                                    first 100 day free
                                </div>
                                <a class="btn btn-primary" href="#">Change to this Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-13  -->
            <section class="content-13 subscribe-form bg-turquoise">
                <div class="container">
                    <div class="row">
                        <form>
                            <div class="col-sm-8">
                                <input type="text" placeholder="Ingresa tu Email" spellcheck="false">
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-large btn-primary" type="submit">
                                    Suscribete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>

            <!-- footer-2 -->
            <footer class="footer-2 bg-midnight-blue">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li class="active">
                                <a href="#">Inicio</a>
                            </li>
                            <li>
                                <a href="#">Empresa</a>
                            </li>
                            <li>
                                <a href="#">Historial</a>
                            </li>
                            <li>
                                <a href="#">Convertidor</a>
                            </li>
                            <li>
                                <a href="#">Contacto</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="social-btns pull-right">
                        <a href="#"><div class="fui-vimeo"></div><div class="fui-vimeo"></div></a>
                        <a href="#"><div class="fui-facebook"></div><div class="fui-facebook"></div></a>
                        <a href="#"><div class="fui-twitter"></div><div class="fui-twitter"></div></a>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../../js/jquery-1.10.2.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/modernizr.custom.js"></script>
        <script src="../../js/startup-kit.js"></script>
        <script src="../../js/script.js"></script>
    </body>
</html>